h1 {
  text-align: center;
  color: #35cd7c;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-size: 44px;
}
.box {
  display: flex;
  gap: 20px;
  max-width: 800px;
  flex-wrap: wrap;
}
.box-data {
  flex: 1;
  padding: 0px;
  background: #e0d8fc;
  border-radius: 10px;
  min-width: 250px;
  cursor: pointer;
}
.box-data h3 {
  padding: 20px 30px;
  margin-top: 10px;
}
.active {
  color: #050505;
  background: #fff;
  padding: 20px 0;
  text-align: center;
  -webkit-animation: scale-up-ver-bottom 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  font-size: 20px;
  margin: 0px;
  border-radius: 10px;
  font-weight: bold;
}
@-webkit-keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-ver-bottom {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
